body {
/* Apply light text to the body of the page. */
    color: #f7f7f7;
  }
/* Create an entry that will style only the jumbotron element. */
  .jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
  }